<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JetDribble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F2291C31F4F6D8100031991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2291DA1F4F6D8100031991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6ED58A1F5F245E00C2ABA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6ED5981F6091C900C2ABA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
